.rank-list {
  list-style: none;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
  overflow: hidden;
  min-height: 3.2rem;
}

.rank-number {
  color: #898989;
  margin: 0 0.5rem;
  margin-left: 0.8rem;
  font-size: 1rem;
  width: 1.75rem;
  text-align: center;
}

.medal {
  width: 1.75rem;
  height: 1.75rem;
  display: inline-block;
  margin: 0 0.5rem;
  margin-left: 0.8rem;
  background-size: cover;
  background-image: url('http://img.freepik.com/free-vector/golden-medal-design_1166-34.jpg?size=338&ext=jpg');
}

.y-diamond {
  margin-left: auto;
  margin-right: 0.4rem;
  font-size: 1.75rem;
  color: #434343;
}

.diamon-icon {
  width: 1.75rem;
  height: 1.75rem;
  background-size: cover;
  background-image: url('../assets/diamond.png');
  margin-right: 0.8rem;
}