.rank-list {
  list-style: none;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
  overflow: hidden;
  min-height: 3.2rem;
}

.rank-number {
  height: 36.2%;
  width: auto;
  color: #898989;
  margin: 0 1.75rem;
  /*font-size: 1.666667rem;*/
}