.rank-list {
  list-style: none;
  height: 16.77777%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
}

.rank-number {
  height: 36.2%;
  width: auto;
  color: #898989;
  margin: 0 1.75rem;
  display: inline-flex;
  align-items: center;
  font-size: 1.666667rem;
  background-image: url('http://img.freepik.com/free-vector/golden-medal-design_1166-34.jpg?size=338&ext=jpg');
  background-size: cover;
}