.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 9.1rem;
}

.user-info .avatar {
  height: 9.1rem;
  width: 9.1rem;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info .right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.user-info .right-info .user-name {
  color:black;
  font-size: 3.2rem;
}