.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 3.1rem;
}

.user-info .avatar {
  height: 100%;
  width: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info .right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 2.5rem;
}

.user-info .right-info .user-name {
  color:black;
  font-size: 1.1rem;
  line-height: 1.1rem;
}