.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.rank-board {
  width: 50%;
  border: 2px solid green;
}